tyro
orbax-checkpoint
tiktoken
tensorflow
flax
optax
git+https://github.com/deepmind/jmp
jax[tpu] -f https://storage.googleapis.com/jax-releases/libtpu_releases.html
wandb
datasets
ruff
pre-commit
isort