tyro
orbax-checkpoint
tiktoken
pip install jax[tpu] -f https://storage.googleapis.com/jax-releases/libtpu_releases.html
tensorflow
flax
optax
git+https://github.com/deepmind/jmp
wandb
datasets
ruff
pre-commit
isort